<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/util
    	http://www.springframework.org/schema/util/spring-util.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- not required for spring mvc: neede for some postprocessors like
    @Required, @PostConstruct, @Autowired -->
    <context:annotation-config/>

	<!-- init, initializedBean, @PostConstruct -->
	
	<!--
		This component scan performs its usual scan for all our @Service (for transactions) @Repository
		@Controller and @Component in the specified package.
		The exclude-filter is set up to skip @Controller
		Spring reference document details the other exclude filter type
	 -->
	 <context:component-scan base-package="com.example" use-default-filters="true">
	 	<context:exclude-filter 
	 		type="annotation" 
	 		expression="org.springframework.stereotype.Controller"/>
	 </context:component-scan>
	
</beans>